<footer id="footer">
<div class="container">
<div class="text">
<p><strong class="title">Introducing a health plan that makes sense<br>
for New Hampshire.</strong></p>
</div>
<ul class="nav">
	<li><a href="/members">Members</a></li>
	<li><a href="/providers">Providers</a></li>
	<li><a href="/employers">Employers</a></li>
	<li><a href="/brokers">Brokers</a></li>
	<li><a href="/about-us">About Us</a></li>
	<li><a href="/contact">Contact Us</a></li>
</ul>
<div class="copy">© 2015 Tufts Health Freedom Plan. All Rights Reserved<br>
<br>
<a href="/legal-security-privacy-practices">Legal, Security, &amp; Privacy Practices</a>&nbsp; <a href="/terms-of-use">Terms of Use</a></div>
<a class="to-top" href="#">to top</a></div>
</footer>