@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
	@if (CurrentPage.HasValue("rightspots"))
	{
		var rightSpots = CurrentPage.RightSpots.ToString().Split(',');
		<aside class="sidebar">
		@foreach(var rs in rightSpots)
		{
		var i = Umbraco.Content(rs);
		<section class="box">
			@if(i.HasValue("image")){
			<div class="image">
				<img src="@Umbraco.Media(i.Image.ToString()).Url">
				</div>	
			}
			<h3 class="title">@i.Title</h3>
            @Html.Raw(@i.Text)
		</section>
		}
		</aside>
	}