<section class="services-alt">
<div class="container">
            <div class="image">
                <img alt="services" src="/media/1007/lia_green2_thfp.jpg">
            </div>
            <div class="text-holder">
                <section class="block">
<h3 class="title">Created in New Hampshire,<br>
for New Hampshire.</h3>

<p>We recognize that companies and their employees are looking for improved choices and lower costs from their health plan.&nbsp;</p>
<a class="button" href="/employers">Learn How</a></section>

<section class="block">
<h3 class="title">Start Quoting Today</h3>

<p>Log in to our secure broker portal to begin quoting for your small group business.&nbsp;</p>
<a href="https://brokers-freedom.tufts-health.com" target="_blank">Sign up or Log in Now</a></section>

            </div>
        </div>
	  </section>