<section class="slide">
                    <img src="/TFP/media/TFP-Media-Library/TFP_HomepageD_BW_1.jpg?ext=.jpg">
                    <div class="info">
                        <div class="container">
                            <div class="text">
                                <h2 class="title">Working Together to Deliver Quality Care</h2>

<p>New Hampshire's premier partnership of leading health systems, Granite Health, has joined forces with Tufts Health Plan to bring you Tufts Health Freedom Plan.</p>

<p>Designed with a shared vision of delivering the highest quality of care at affordable prices, Tufts Health Freedom Plan offers an idea that makes sense - groundbreaking collaboration that results in better health outcomes coupled with access to the leading hospitals in New Hampshire and Massachusetts.</p>

                            </div>
<a class="button" href="/about-us">Our Collaboration</a>                        </div>
                    </div>
                </section>