<?xml version="1.0" encoding="utf-16"?>
<!DOCTYPE root [<!ELEMENT SectionPage ANY>
<!ATTLIST SectionPage id ID #REQUIRED>
 
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT Menuitem ANY>
<!ATTLIST Menuitem id ID #REQUIRED>
<!ELEMENT Seodata ANY>
<!ATTLIST Seodata id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1065" key="03d58035-4f2b-4cc0-b229-93ebd4a43f92" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-08T13:23:05" updateDate="2016-02-08T13:23:05" nodeName="Home" urlName="home" path="-1,1065" isDoc="" nodeType="1063" creatorName="Vlad" writerName="Vlad" writerID="0" template="1059" nodeTypeAlias="Home">
    <nofollow>0</nofollow>
    <noindex>0</noindex>
    <showInMenues>0</showInMenues>
    <SectionPage id="1071" key="d06e0caf-8c13-4b28-bfd4-b9b7679a322b" parentID="1065" level="2" creatorID="0" sortOrder="0" createDate="2016-02-08T13:27:08" updateDate="2016-02-08T13:27:08" nodeName="Brokers" urlName="brokers" path="-1,1065,1071" isDoc="" nodeType="1070" creatorName="Vlad" writerName="Vlad" writerID="0" template="1069" nodeTypeAlias="SectionPage">
      <nofollow>0</nofollow>
      <noindex>0</noindex>
      <showInMenues>0</showInMenues>
    </SectionPage>
    <SectionPage id="1072" key="dd443711-b042-4076-b9bf-bb83407de250" parentID="1065" level="2" creatorID="0" sortOrder="1" createDate="2016-02-08T13:27:15" updateDate="2016-02-08T13:27:15" nodeName="Members" urlName="members" path="-1,1065,1072" isDoc="" nodeType="1070" creatorName="Vlad" writerName="Vlad" writerID="0" template="1069" nodeTypeAlias="SectionPage">
      <nofollow>0</nofollow>
      <noindex>0</noindex>
      <showInMenues>0</showInMenues>
    </SectionPage>
    <SectionPage id="1073" key="b826d7df-19be-4566-94b2-06413e6ed45e" parentID="1065" level="2" creatorID="0" sortOrder="2" createDate="2016-02-08T13:27:24" updateDate="2016-02-08T13:27:24" nodeName="Employers" urlName="employers" path="-1,1065,1073" isDoc="" nodeType="1070" creatorName="Vlad" writerName="Vlad" writerID="0" template="1069" nodeTypeAlias="SectionPage">
      <nofollow>0</nofollow>
      <noindex>0</noindex>
      <showInMenues>0</showInMenues>
    </SectionPage>
    <SectionPage id="1074" key="b9ab506e-2a32-45c8-8a20-b71f4e444e6a" parentID="1065" level="2" creatorID="0" sortOrder="3" createDate="2016-02-08T13:27:31" updateDate="2016-02-08T13:27:31" nodeName="Providers" urlName="providers" path="-1,1065,1074" isDoc="" nodeType="1070" creatorName="Vlad" writerName="Vlad" writerID="0" template="1069" nodeTypeAlias="SectionPage">
      <nofollow>0</nofollow>
      <noindex>0</noindex>
      <showInMenues>0</showInMenues>
    </SectionPage>
  </Home>
</root>